.price-wrapper,.discount-wrapper {
    max-width: 98%;
}
.filter-heading {
    text-align: center;
    font-weight: 700;
    flex-basis: 57%;
}
.reset-filter{
    display: flex;
}
.reset {
    margin-top: 15px;
    cursor: pointer;
    flex-basis: 50%;
}
.reset:hover{
    font-weight: 700;
    color:coral;
}
select {
    padding: 2px 5px 2px;
    border: 1px solid #ccc;
    width: 95px;
}
.color-filter input,.brand-filter input {
    margin-right: 10px;
}
.color-filter li,.brand-filter li {
    margin-bottom: 10px;
}
ul {
    list-style: none;
}
.filter-wrapper {
    /* min-width: 230px; */
    flex-basis: 50%;
}
label:hover{
    color:coral;
}
.brand-filter,.color-filter {
    color: #000;
    padding: 12px 2px 12px 10px;
    width: 96%;
    height: 100px;
    overflow: scroll;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
}   
.brand-filter::-webkit-scrollbar, .color-filter::-webkit-scrollbar{
    display: none;
}
label {
    overflow: hidden;
    width: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.price-wrapper,.discount-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: space-around;
    padding: 20px 5px;
    border: 1px solid #ccc;
}
.price-wrapper p ,.discount-wrapper p{
    flex-basis: 100%;
    font-weight: 700;
    margin-top: 0;
}
.color-filter p,.brand-filter p {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 2px;
    flex-basis: 100%;
}